@import './variables.css';
@import './globals.css';

@import './componentes/navbar.css';
@import './componentes/header.css';
@import './componentes/about.css';
@import './componentes/skills.css';
@import './componentes/studies.css';
@import './componentes/projects.css';
@import './componentes/footer.css';
