/* Sobre */
.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

/* Sobre - Além do código... */
.about .about__left {
  max-width: 40rem;
  flex: 1;
}

/* Sobre - Paragrafo */
.about .about__left p {
  margin: 1rem 0 2rem;
}

/* Lista das Redes Sociais */
.about .about__left ul {
  margin-left: -1.2rem;
}

/* Lista das Redes Sociais - Icones */
.about .about__left ul li {
  display: inline-block; /*Para ficar um ao lado do outro*/
}

/* Lista das Redes Sociais - a */
.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

/* Sobre - Texto a Direita */
.about .about__right{
  flex: 1;
  max-width: 66rem;
}

/* Linguagens */
.about .about__right .box-title {
  width: 42rem;     /* 420px */
  height: 37vh;
  margin-top: 1rem; /* 20px */
  padding: 0 1rem;  /* 10px */
  box-shadow: 0 0 10px 0 var(--gray);
  border-radius: 1.5rem;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}