/* Sobre */
.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

/* Sobre - Além do código... */
.about .about__left {
  max-width: 40rem;
  flex: 1;
}

/* Sobre - Paragrafo */
.about .about__left p {
  margin: 1rem 0 2rem;
}

/* Lista das Redes Sociais */
.about .about__left ul {
  margin-left: -1.2rem;
}

/* Lista das Redes Sociais - Icones */
.about .about__left ul li {
  display: inline-block; /*Para ficar um ao lado do outro*/
}

/* Lista das Redes Sociais - a */
.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

/* Sobre - Texto a Direita */
.about .about__right{
  flex: 1;
  max-width: 66rem;
}

/* Linguagens - Quadro Geral */
.about .about__right .box-title {
  width: 50rem;     /* 420px */
  height: 37vh;
  margin: 1rem 0 1rem 5rem ; /* 20px */
  padding: 0 1rem;  /* 10px */
  box-shadow: 0 0 25px 0 var(--gray);
  border-radius: 0.8rem;
  background: #e7e4e4;
}
/* Porcentagem das Linguagens */
.about .about__right .box-title p {
  margin-bottom: -7px;
  font-weight: 800;
}

/* Linguagens - Nome das linguagens */
.about .about__right .box-title span {
  color: var(--primary-color);
  font-weight: 800; 
  padding-bottom: 25px;   
}
/* Prenchimento da Porcentagem - Primeira cor */
.about .about__right .box-title .b1 {
  width: 470px;
  height: 8px;
  background: var(--primary-color);
  margin-top: 2px;
  border-radius: 5px;
}

/* Prenchimento da Porcentagem - Segunda cor */
.about .about__right .box-title .b2 {
  width: 295px;
  height: 8px;
  background: #fff;
  border-radius: 5px;
}

.about .about__right .box-title .b3 {
  width: 240px;
  height: 8px;
  background: #fff;
  border-radius: 5px;
}

.about .about__right .box-title .b4 {
  width: 100px;
  height: 8px;
  background: #fff;
  border-radius: 5px;
}

.about .about__right .box-title .b5 {
  width: 150px;
  height: 8px;
  background: #fff;
  border-radius: 5px;
}

/* Media Queries */
@media screen and (max-width:1024px) {
  .about .about__right .box-title{
    width: 90%;
    height: 40%;
    margin: 1rem 5rem 1rem 0rem; 
      
  }
}


@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }

  .about .about__right .box-title{
    width: 100%;
    height: 20vh;
    align-items: center;
    text-align: center;
    margin: 1rem -5rem 0 0;
    padding: 0 1rem; 
  }
  .about .about__right .box-title .b1{
    width: 100%;
  }
  .about .about__right .box-title .b2{
    width: 70%;
  }
  .about .about__right .box-title .b3{
    width: 60%;
  }
  .about .about__right .box-title .b4{
    width: 25%;
  }
  .about .about__right .box-title .b5{
    width: 20%;
  }


}