.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /*nada subscrever esse componente*/
  background-color: var(--white);
}

/* navbar de modo geral */
.navbar .navbar__content {
  padding: 3rem 4rem 1rem;
  display: flex; 
  justify-content: space-between;
  text-transform: uppercase; /*Alteração para Maiuscula*/
  font-weight: 600;          /*Alteração fonte mais escura*/
}

/* Lista de Links - li */
.navbar .navbar__content .navbar__links li {
  display: inline-block; /*alinhamento lado a lado*/
}

/*Espaçamento entre os links -Sem pegar o último: Contato*/
.navbar .navbar__content .navbar__links li:not(:last-of-type) { 
  margin-right: 1.2rem;
}

/* Aumentar a area do click do mouse */
.navbar .navbar__content .navbar__links li a {
  padding: 1rem;
  display: inline-block;
}

/* Ao passar do mouse */
.navbar .navbar__content .navbar__links li a:hover {
  color: var(--tertiary-color)
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

/* Mobile navbar */
.navbar .navbar__content .navbar__mobile, 
.navbar .navbar__content .navbar__mobile .mobile__links {
  display: none;
}

/* Media Queries */
@media screen and (max-width:768px){
  /* Links web */
  .navbar .navbar__content .navbar__links li {
    display: none; 
  }

  /* Links mobiles */
  .navbar .navbar__content .navbar__mobile{
    display: flex;
    align-items: center;
  }

  /* img: burguer */
  .navbar .navbar__content .navbar__mobile img{
    width: 3.6rem;
    height:3.6rem;
    cursor: pointer;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  /* Lista mobile */
  .navbar .navbar__content .navbar__mobile.active .mobile__links li {
    margin-right: 0;
  }

  /* links mobile */
  .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
    padding: 1rem;
    display: block;
    text-align: center;
  }

}