 /* Slider: Corpo dos Cards*/
#port .container {
  width: 100%;
  height: 100vh;
  /* background: url(assets/img1); */
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: none; 
 }
 
/* Criação dos Inputs - Cards */
#port .container input[type=radio]{
  display: none; 
}

/* Container dos Cards */
#port .container .card{  
  position: absolute;
  width: 40%;
  height: 95%;
  left: 0;
  right: 0;
  margin: 150px auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(73, 76, 78, 0.5);
  transition: 0.4s ease;
  cursor: pointer;
  border: none;
}

#port .container h2{ 
  margin-top: 100px;
}

#port .container p{
  margin-bottom: -50px;
}

/* Imagem dos Cards */
#port .container .card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: none;
}

/* Titulo dos Cards */
#port .container .card h1{
  text-transform: uppercase;
  position: absolute;
  z-index: 9;
  color: var(--black); 
  font-size: 6rem;
  margin-top: 60px;
}

/* Paragrafo dos Cards */
#port .container .card p{
  position: absolute;
  z-index: 9;
  width: 400px;
  color: var(--black); 
  margin-top: 200px;
  text-align: justify;
  line-height: 25px;
}

/* Botão do Card: Hire me */
#port .container .card button{
  position: absolute;
  z-index: 9;
  margin-top: 400px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  color: #ffffff;
  background: #333131;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}
/* Dimensão dos Cards: Altura e Largura */
#port .container .cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -50px;
}
/* Transição entre os cards - 1 */
#item-1:checked ~ .cards #panf-3,
#item-2:checked ~ .cards #panf-1,
#item-3:checked ~ .cards #panf-2{
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
/* Transição entre os cards - 2*/
#item-1:checked ~ .cards #panf-2,
#item-2:checked ~ .cards #panf-3,
#item-3:checked ~ .cards #panf-1{
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}
/* Transição entre os cards - 3*/
#item-1:checked ~ .cards #panf-1,
#item-2:checked ~ .cards #panf-2,
#item-3:checked ~ .cards #panf-3{
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  #port .container .card h1{
    font-size: 5rem;
  }
  #port .container .card p{
    width: 70%;
    height: 70%;
    font-size: 2rem;
  }
}

@media screen and (max-width: 960px){
  #port .container .card{
    width: 60%;
    height:50%; 
  }
  
}

@media screen and (max-width: 768px) {
  #port .container .card{
    width: 50%;
    height: 50%; 
  }
  #port .container .card h1{
    font-size: 3rem;
  }

  #port .container .card p{
    width: 280px;
    font-size: 1.5rem;
  }




}
